.custom-header {
    background-color: #4CAF50; /* Customize background color */
  }
  
  .custom-title {
    color: white; /* Customize text color */
  }
  
  .custom-select {
    font-family: Georgia, serif;
  }
  