<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-family: Georgia, serif;">
      Leaflet Map
    </ion-title>
    <ion-buttons slot="end" class="ion-margin-end">
      <ion-select interface="popover" [(ngModel)]="selectedBasemap" (ionChange)="changeBasemap()" placeholder="Pilih Basemap" style="font-family: Georgia, serif;">
        <ion-select-option value="streets">Streets</ion-select-option>
        <ion-select-option value="topo">Topographic</ion-select-option>
        <ion-select-option value="satellite">Satellite</ion-select-option>
        <ion-select-option value="topo-vector">Topo Vector</ion-select-option>
        <ion-select-option value="carto-positron">Carto Positron</ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="mapId" style="height: 100%; width: 100%;" [fullscreen]="false">
</ion-content>
