.custom-header {
  background-color: #4CAF50; /* Customize background color */
}

.custom-title {
  color: white; /* Customize text color */
}

.custom-select {
  font-family: Georgia, serif;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.popup-content {
  text-align: center;  /* Memusatkan konten di dalam popup */
  padding: 10px;       /* Memberikan jarak antara konten dan tepi popup */
}

.popup-content img {
  width: 100%;         /* Membuat gambar memenuhi lebar popup */
  height: auto;        /* Menjaga aspek rasio gambar */
}

.popup-content b {
  display: block;      /* Membuat label menjadi block agar berada di bawah gambar */
  margin-top: 10px;    /* Memberikan jarak antara gambar dan label */
}


